# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Jupyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store

# Generated data 
data/*.csv
data/*.json